.btn {
  background-color: $color-primary;
  color: #f9f7f6;
  font-family: $font-display;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  border: none;
  border-radius: 0;
  transition: all .2s;
  cursor: pointer;

  &:hover {
    background-color: $color-primary-dark;
  }
}